@use "../global" as global;

.p-explain {
  position: relative;
  padding-bottom: 66px;
  margin-top: 47px;

  @include global.mq(pc) {
    padding-bottom: 62px;
    margin-top: 96px;
  }

  & .c-sub-title {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px; /* 168.75% */
    letter-spacing: 0.8px;
  }


  &::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border-right: 1px solid global.$main-color;
    border-bottom: 1px solid global.$main-color;
    bottom: 0;
    left: 49%;
    transform: rotate(45deg) translate(-50%, 0);

    @include global.mq(pc) {
      width: 56px;
      height: 56px;
    }
  }
}
