@use "../global" as global;

.p-flow {
  padding-top: 56px;
  padding-bottom: 56px;
}
.p-flow__wrap {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.p-flow__item {
}
.p-flow__img {
    img {
        width: 100%;
    }
}
.p-flow__step {
  color: global.$main-color;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1.6px;
  margin-top: 24px;
}
.p-flow__title {
  margin-top: 16px;
}
.p-flow__text {
  color: global.$text-color;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px; /* 180% */
  letter-spacing: 0.32px;
  margin-top: 8px;
}
