@use "../global" as global;

.c-button {
  border-radius: 2px;
  color: #fff;

  background: linear-gradient(
    259deg,
    #8b6c3a 21.4%,
    #b19464 58.78%,
    #8b6c3a 96.8%
  );
  padding-left: 28px;
  padding-right: 26px;
  padding-top: 11px;
  padding-bottom: 12px;
  display: grid;
  place-items: center;
  color: #fff;
  font-family: global.$ff-base;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 2.8px;

  @include global.mq(pc) {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 40px;
    padding-left: 40px;
  }
}
