@use "../global" as global;

.c-sub-title {
  color: global.$main-color;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  font-size: 19px;
  letter-spacing: 2px;
  line-height: 1.5;

  @include global.mq(pc) {
    line-height: 48px;
    letter-spacing: 3.2px;
    font-size: 32px;
  }
}
