@use "../global" as global;

.c-section-title {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.c-section-title--style-b {
    align-items: flex-start;

    .c-section-title__en {
      position: relative;
      width: 100%;

      &::after {
        display: none;
        position: absolute;
        content: "";
        right: calc(190 / 1100 * 100%);
        top: 50%;
        translate: 0 -50%;
        width: calc(340 / 1100 * 100%);
        height: 1px;
        background-color: global.$text-color;

        @include global.mq(pc) {
          display: block;
        }
      }
    }
  }
}
.c-section-title__en {
  font-family: global.$ff-en;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 150% */
  letter-spacing: 1.4px;

  @include global.mq(pc) {
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 100% */
    letter-spacing: 4.48px;
    font-size: 56px;
  }
}
.c-section-title__ja {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 150% */
  letter-spacing: 1.4px;

  @include global.mq(pc) {
    line-height: 16px; /* 100% */
    letter-spacing: 1.6px;
    font-size: 14px;
    margin-top: 40px;
    font-size: 16px;
  }
}
